* {
  margin: 0;
}

html,
body {
  height: 100%;
  --black: hsla(240, 6%, 13%);
  --grey: hsla(240, 9%, 89%);
  -webkit-font-smoothing: antialiased;
  font-family: 'Roboto', sans-serif;
}

body {
  display: grid;
  place-items: center;
}

main {
  background: url(assets/others/Mobile.png);
  width: 23.4375rem;
  height: 50.75rem;
  color: var(--grey);
}

.container {
  max-width: 15.625rem;
  text-align: center;
  margin-left: auto;
  margin-right: auto;
}

.avatar {
  width: 10rem;
  margin: 11.5rem auto 0;
  position: relative;
}

.avatar span {
  position: absolute;
  top: -15px;
  z-index: 1;
}

.avatar > img {
  width: 10rem;
  height: 11.5rem;
  object-fit: cover;
  clip-path: polygon(50% 0, 100% 25%, 100% 75%, 50% 100%, 0 75%, 0 25%);
}

h1 {
  font-size: 1.5rem;
  margin-top: 1.5rem;
  font-weight: 700;
}

a {
  color: var(--grey);
  text-decoration: none;
  margin-top: 0.25rem;
  display: flex;
  gap: 0.75rem;
  justify-content: center;
  align-items: center;
}

p {
  margin-top: 2rem;
  font-weight: 400;
}

ul {
  margin-top: 4rem;
  list-style: none;
  padding: 0;
  display: flex;
  gap: 0.5rem;
  align-items: center;
  justify-content: center;
}

ul a {
  transition: 0.3s;
  object-fit: cover;
  clip-path: polygon(50% 0, 100% 21%, 100% 79%, 50% 100%, 0 79%, 0 21%);
}

ul a:hover {
  transform: translateY(-8px);
}

/* large devices: 1023 > */
/* large devices: 992 > */

/* medium devices : 767 > */
